[Unit]
Description=prometheus-swift-account-exporter
After=network.target

[Service]
EnvironmentFile=/etc/default/prometheus-swift-account-exporter
ExecStart=/opt/prometheus-swift-account-exporter/prometheus-swift-account-exporter /etc/prometheus/prometheus-swift-account-exporter.yaml
KillMode=process

[Install]
WantedBy=multi-user.target

